.exp-bar {
  position: fixed;
  right: 5px;
  top: 5px;
}
.exp-eval-container {
  min-height: 100vh;
}
.head-text,
.sub-text {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(121, 206, 161) !important;
}
.sub-text {
  font-size: 1.5rem;
}
.number-tile {
  background-color: rgb(236, 245, 247);
  height: 80px;
  width: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.add-btn-container {
  width: 195px;
  height: 58px;
}
.add-btn {
  height: 100%;
  width: 100%;
  max-width: 275px;
}
.btn-info {
  background-color: rgb(121, 206, 161) !important;
  color: #ffffff !important;
}
.form-floating > label {
  color: grey;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .number-tile {
    height: 50px;
    width: 50px;
  }
}
.ctr {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
